@charset "utf-8";
body,h1,h2,h3,ul,ol,p,figure {
	margin: 0;
	padding: 0;
}
li{
	list-style:none;
	font-family:simsun;
}
a{
	text-decoration:none;
}
body {
	background-color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
}
#header{
	width:100%;
	height:171px;  
	position:relative;
}
h1,h2,h3,h4,h5,h6,small{
	font-size:14px;
	font-weight:normal;
}
#header .top{
	background-color: #0168b8;
	height:30px;
	line-height:30px;
}
#header .top-middle{
	width:980px;      
	margin:0 auto;
}
#header .top-middle h1{
	float:left;
	color:#fff;
	font-family:simsun;
	font-size:12px;
}
#header .top-middle form{
	width:150px;
	height:22px;
	line-height:22px;
	color: #c2d9f8;
	float:right;
	border: 1px solid #c2d9f8;
	margin-top:3px;
}
#header .top-middle .search{
	border:0 none;
	letter-spacing:1px;
	width:120px;
	overflow:hidden;
	background-color:#0168b8;
	color:#c2d9f8;
	text-indent:2px;
}
#header .top-middle .submit{
	position:absolute;
	border:none;
	background: url("../img/c_fw_logo_search.png") no-repeat;
	margin-top:3px;
}

#header .logo{
	background-color: #0063b0;
	height:99px;
	line-height:99px;
	border-top: 1px solid #00599f;
	border-bottom: 1px solid #00599f;
	
}
#header .logo-middle{
	width:980px;      
	margin:0 auto;
	background:rgba(0, 0, 0, 0) url("../img/c_fw_logo_cen.png") no-repeat scroll 236px center;
	overflow:hidden;   /*？？删除这句话，会导致背景图片c_fw_logo_cen.png无法显示，目前不知为何？？*/
}
#header .logo-left{
	float:left;
}
#header .logo-right{
	float:right;          border: 0px solid red;
	width:163px;
	height:84px;
	line-height:84px;
	padding-top:10px;
}
#header .logo-right a{
	display:block;         /*<a>为内联模式，两个a会处于一行，只有设置成block模式，才能一上一下呈现*/
	width:163px;
	height:35px;
	line-height:35px;
	vertical-align:middle;
}
#header .nav{
	background-color: #0063b0;
	height:40px;
	line-height:40px;
	position:relative;
}
#header .nav-middle{
	width:980px;      
	margin:0 auto;
}

#header .nav-middle .ul-first{
	float:left;         border: 0px solid red;
	display:block;
	width:98px;
	height:40px;
	line-height:40px;
	text-align:center;
}
#header .nav-middle a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;
}
#header .submenu a{
	font-size:12px;
	font-weight:normal;
}
#header .submenu li{
	border-bottom:1px dashed #fff;       
	height:32px;
	line-height:32px;
	margin-right:6px;
	margin-left:6px;
}
#header .nav-middle .active{
	background-color:#1286e1;
}
#header .submenu{
	background:rgba(0, 0, 0, 0) url("../img/c_fw_nav_ul_bj2.png") repeat scroll 0 0; /*rgba括号中前3个数字代表着 red green blue三种颜色的rgb值，0-255，最后一个是设定这个颜色的透明度即alpha值。范围从0到1，越接近1，代表透明度越低。*/
	position:absolute;   /*此处的absolute与nav下设置的relative相关*/
	top:40px;
	width:98px;
	padding-bottom:5px;
	display:none;
	z-index:1100;
}
#header  .submenu_width{
	width:350px;
}
#header  .submenu_width li{
	padding:0px;
	float:left;                            
	/*display:inline-block;      border: 1px solid red;   */
	width:160px;
}
/*广告显示栏*/
#slider{
	width:100%;        border:0px solid red;
	margin:0;
	height:309px;
	position:relative;
}
#slider  .li1{
	height:309px;
	width:100%;
	background:transparent url("../img/banner_04.jpg") no-repeat scroll center top;
	padding:0;
	margin:0;
	/*z-index:900;*/
	cursor:pointer ;
}
#slider  .li2{
	height:309px;
	width:100%;
	background:transparent url("../img/banner_x01.jpg") no-repeat scroll center top;
	padding:0;
	margin:0;
	 cursor:pointer 
}
#slider  .li3{
	height:309px;
	width:100%;
	background:transparent url("../img/banner02.jpg") no-repeat scroll center top;
	padding:0;
	margin:0;
	 cursor:pointer 
}
#slider  .li4{
	height:309px;
	width:100%;
	background:transparent url("../img/banner03.jpg") no-repeat scroll center top;
	padding:0;
	margin:0;
	 cursor:pointer 
}
#slider .image  li{
	position:absolute;
	top:0;
}
#slider .pagenation{
	height:20px;
	width:450px;
	display:block;
	position:absolute;
	z-index:1000;
	left:50%;
	top:285px;
}
#slider  .pagenation li{
	height:14px;
	width:14px;
	background-color:#d3d3d3;
	display:inline-block;
	position:relative;
	left:380px;
	 cursor:pointer; 
}
#slider .pagenation li.current{                   /*这里必须写成#slider (.pagenation) li.current，如果写成.pagenation li.current，则无法实现功能*/
	background-color:red;
}

 /*热点新闻*/
#main{
	background:rgba(0, 0, 0, 0) url("../img/c_fw_main_bj.jpg") repeat scroll 0 0;
}
 #main .main-middle{
	 width:980px;
	 margin:15px auto;
	 
 }
 #main .hot-left{
	 width:374px;             border:0px solid blue;
	 height:246px;
	 overflow:hidden;
	 position:relative;
	 float:left;
 }
  #main .hot-left-roll{
	position: absolute;       /*此命令非常重要，实现轮播图，最好设置成绝对定位*/
    left: 0;
    top: 0;
	width:3740px;            
 }
 #main .hot-left li{
	/* display:inline-block;        若使用该命令代替float:left;，则会出现参差不齐的现象，尚不知为何？？ */
	 float:left;
	 width:374px;
	 position:relative;
 }
 #main .hot-left li span{
	position:absolute;           border:0px solid red;
	width:374px;
	height:30px;
	line-height:30px;
	z-index:900;    
	left:0px;
	top:216px;
	overflow:hidden;
	background:rgba(0, 0, 0, 0) url("../img/c_fw_nav_ul_bj2.png") repeat scroll 0 0;  
 }
 #main .hot-left li span a{
	font-family:simsun;
	color:#fff;
	height:30px;
	line-height:30px;
	margin-left:2px;
 }
  #main .hot-left .pagenation-2{
	width:100px;
	height:22px;
	line-height:22px;
	position:absolute;
	z-index:990;
	left:270px;                                                border:0px solid red;
	top:220px;
}
 #main .hot-left .pagenation-2 li{
	height:22px;
	line-height:22px;
	width:18px;
	margin-left:2px;
	text-align:center;
	background-color:#d3d3d3;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
}
 #main .hot-left .pagenation-2 li.current{                   /*这里必须写成#slider li.current，如果写成.pagenation li.current，则无法实现功能*/
	background-color:#7abd54;
}
 #main .hot-right{
	 width:570px;             border:1px solid blue;
	 height:246px;
	 /*overflow:hidden;*/
	 position:relative;
	 float:right;
	 background-color:#fff;
	 border:1px solid #efefef;
 }
 .hot-right a:hover{
	text-decoration: underline;
}
.hot-right .top{
	height: 33px;                border:0px solid blue;
	width:220px;
	line-height:33px;
	position:absolute;
	top:0;
	z-index:990;                  
}
.hot-right .top a{
	color:#333;
	font-weight:bold;
	font-size:16px;
	display:block;
}
.hot-right .top ul li{
	float:left;
	width:106px;      
	text-align:center;
}
.hot-right .top li.current{
	background:rgba(0, 0, 0, 0) url("../img/c_fw_news_02.jpg") repeat-x scroll 0 0; 
}
.hot-right .top li.current a{                            /*这里可以做到在js中使li下的a变成白色*/
	color:#fff; 
}
.hot-right .notice, .hot-right .news{
	position:absolute;       
	top:0px;
	display:block;
	 width:570px;            
	 height:246px;
}
.hot-right .more{
	float:right;                     border:0px solid yellow;
	font-size:14px;
	color:red;
	height:33px;
	line-height:33px;
}
.hot-right .more a{
	color:#555;
}
.hot-right .title{
	height:60px;
	padding-top:10px;
	display:block;
	clear:both;
	top:33px;              
	border-bottom:1px dashed #d1d1d1;
	border-top:1px solid #efefef;
}
.hot-right .title h3{
	text-align:center; 
}
.hot-right .title h4{
	 text-indent:20px;
}
.hot-right .title a{
	color:red;
	font-family:simsun;
	font-size:14px;
	font-weight:bold;
}
.hot-right .content{
	margin-top:10px;        border:0px solid red;
}
.hot-right .content a,.hot-right .content li{
	font-size:12px;
	color:#555;
}
.hot-right .content li{
	display:inline-block;
	margin:2px 0px 2px 4px;      border:0px solid yellow;
	 
}
.hot-right .content ul li ul{
	width:270px;
	border-left:3px solid #0c73c3;        
	margin-left:5px;
	padding-left:0px;
	border-left:2px solid #0c73c3;
}
.date{
	float:right;
}

.hot-right .news{
	display:none;
}
/*
.hot-right .notice{
	display:none;
}
*/

/*网上服务大厅*/
.service{
	overflow:hidden;
	clear:both;              /*此命令非常重要，否则会导致service部分上浮*/
	width:980px;               border:0px solid red;
	 
	padding:0;
	margin-top:0px;
}
.service dt{
	 float:left;overflow:hidden;height:142px;margin-top:0px;
}
.service dd{
	float:left;
	position:relative;
	overflow:hidden;
	height:142px;
	margin-top:10px;
	display:inline;
} 
.service-img.current img{
	opacity:0.3;
}
.service .dd1{width:332px;margin-top:0px;margin-left:10px;display:inline;}
.service .dd2{width:386px;margin-top:0px;margin-left:10px;display:inline;}
.service .dd3{width:186px;margin-top:0px;margin-left: 12px;display:inline;}
.service .dd4{width:186px;margin-left: 0px;display:inline;}
.service .dd5{width:188px;margin-left:12px;display:inline;}
.service .dd6{width:186px;margin-left:12px;display:inline;}
.service .dd7{width:186px;margin-left:12px;display:inline;}
.service .dd8{width:186px;margin-left: 12px;display:inline;}
.service .dd9{width:186px;margin-left:0px;display:inline;}
.service .dd10{width:188px;margin-left:12px;display:inline;}
.service .dd11{width:186px;margin-left: 12px;display:inline;}
.service .dd12{width:186px;margin-left: 12px;display:inline;}
.service .dd13{width:186px;margin-left: 12px;display:inline;}
.desc{
	position:absolute;                    
	top:0;          
	left:-100%;
	z-index:9999;
}

.service .dd1 .desc{background-color:#666699;height:142px; width:332px;}
.service .dd2 .desc{background-color:#cc9999;height:142px;width:386px;}
.service .dd3 .desc{background-color:#0099cc;height:142px;width:186px;}
.service .dd7 .desc{background-color:#0099cc;height:142px;width:186px;}
.service .dd5 .desc{background-color:#ff9900;height:142px;width:188px;}
.service .dd4 .desc{background-color:#99cc01;height:142px;width:186px;}
.service .dd8 .desc{background-color:#cc3399;height:142px;width:186px;}
.service .dd9 .desc{background-color:#cc6600;height:142px;width:186px;}
.service .dd10 .desc{background-color:#009999;height:142px;width:188px;}
.service .dd11 .desc{background-color:#d8cc00;height:142px;width:186px;}
.service .dd12 .desc{background-color:#d83800;height:142px;width:186px;}
.service .dd13 .desc{background-color:#999999;height:142px;width:186px;}
.service .dd6 .desc{background-color:#25a251;height:142px;width:186px;}
 
.desc ul li {
  background:  url("../img/c_fw_desc01.png") no-repeat scroll left center;
  display: inline;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 0 10px;
  padding-left: 20px;
  width:120px;               
}
.desc ul {
  padding-top:10px;
}
.desc ul li a{
  color:#fff;
  font-family:"Microsoft YaHei";
}
.desc-4 ul li,
.desc-6 ul li{
  height:30px;
  line-height:30px;
}
.desc ul li a:hover{
  text-decoration:underline;
}
/*招聘专栏*/
.recruit{
	margin:0 auto;                                          border:0px solid red;
	width:980px;
	height: 240px;
	/*overflow:hidden;*/
	background-color:#fff;
	position:relative;
	top:10px;
}
.recruit_top{
	background: rgba(0, 0, 0, 0) url("../img/1/c_RecruitZC_02.jpg") repeat-x scroll 0 0;                       
	 height: 62px;
	 margin: 10px auto 0;
	/* overflow: hidden;*/
	 width: 962px;
}
.recruit_top_logo{
	display: inline;
    float: left;
}
.recruit_top_slide{
	width:900px;     border:0px solid blue;
	height:62px;
	float:right;
}
.recruit_roll{
	height:62px;
	width:800px;                border:0px solid red;
	display:block;
	margin:0 auto;
	overflow:hidden;
	position:relative;        /*要想实现轮播效果，必须是将此处设置为绝对定位*/
}
.recruit_content{
	width:3000px;
	position:absolute;        /*要想实现轮播效果，必须是将此处设置为相对定位*/
	left:0;
	top:0;
}
.recruit_content li{
	float:left;             border:0px solid red;
	width:160px;
	height:62px;
 	margin:0;
	text-align:center;
	margin-top:-15px;
	cursor: pointer;
	background:rgba(0, 0, 0, 0) url("../img/1/c_RecruitZC_03.jpg") no-repeat scroll center 80%;
}
.recruit_content li.current{
	 background: rgba(0, 0, 0, 0) url("../img/1/c_RecruitZC_04.jpg") no-repeat scroll center 80%;
}
.recruit_content li.current span,
.recruit_content li.current h4{
	 color:red;
	 font-weight:bold;
}

.recruit_button .prev{
	position:absolute;
	top:18px;
	opacity:0.5;
	cursor: pointer;
}
.recruit_button .prev:hover,
.recruit_button .next:hover{
	opacity:1;
}
.recruit_button .next{
	left:930px;        
	position:absolute;
	top:18px;
	opacity:0.5;
	cursor: pointer;
}
.recruit_img{
	width:962px;              
	height:141px;
	margin:0 auto;

}
.recruit_img li{
	position:absolute;
	top:86px;
}
/*图片滚动轮播*/
.company{
	width:980px;                           border:0px solid red;
	height:96px;
	margin-top:15px;
	background-color:#fff;
}
.company_title{
  display: inline;
  float: left;
  margin-left: 10px;
  margin-top: -8px;
  text-align: center;
  width: 90px;
}
.company_title h4 {
  border-bottom: 1px solid #afafaf;          
  color: #999999;
  display: block;
  font-family: "Microsoft YaHei";
  font-size: 20px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}
.company_title a {
  color: #999999;
  display: block;
  font-size:12px;                
  margin-top:-25px;
}
.company_box{
    float: left;                                                 border:0px solid red;
    height: 55px;
    /*overflow: hidden;*/
    position: relative;
    width: 855px;
	margin: 20px 0 0 17px;
}
.company_box_content li{
    float:left;
    width:171px;                                  border:0px solid blue;
    height: 55px;       
    line-height:55px;
    text-align: center;
}
/*脚部*/
#footer{
	width:100%;          
	height:254px;  
	margin-top:20px;
}
.footer_top{
	background-color:#0c73c3;
	width:100%;          
	height:184px;  
}
.footer_top_middle{
	width:980px;
	margin:0 auto;
}
#footer .link{
	border-bottom: 1px solid white;
    height: 65px;
}
#footer .link h2{
	  color: #fff;
	  display: inline;
	  float: left;
	  font-family: "Microsoft YaHei";
	  font-size: 20px;
	  font-weight: normal;
	  margin: 20px 0 0 10px;
	  width: 90px;
}
#footer .link ul{
	float:left;
}
#footer .link ul li{
	background:url("../img/c_links_01.png") no-repeat scroll 248px center;
	background-color:#57a4df ;  
	float:left;
	height: 30px;
	line-height:30px;                                              border:0px solid red;
	width:268px;
	text-indent:10px;
	margin:0 10px;
	cursor:pointer;
	position:relative;
	margin-top:20px;
}
#footer .link ul li.current{
		background:url("../img/c_xf_goTop.jpg") no-repeat scroll 240px center;
		background-color:#57a4df ;  
}
#footer .link ul li span{
	color:#fff;
	font-size:14px;
}
#footer .link .slect{
	position:absolute;            border:0px solid red;
	top:-180px;
	left:0;
	padding:0;
	display:none;
}
#footer .link .slect option{                          border:0px solid red;
	text-indent:10px;
}
#footer .link .slect option:hover{                        
	background-color:#57a4df;
}
#select1,
#select2,
#select3{
	display:block;
	color:#707070;
	font-size:14px;
	background-color:#e8e8e8;
	padding:0;
	margin:0;
	width:268px;
	cursor:pointer; 
}
#footer .link .slect_3{
	top:-20px;
}
.footer_tel{
	margin-top:10px;
}
.footer-bot{
	width:980px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	color:#999;
	font-size:14px;
}
.side_top{
	position:fixed;
	top:200px;
	right:-5px;
	cursor:pointer;	
}
.side_content {
  background-color: #ccecff;
  border: 1px solid #b6e4ff;
  height: 532px;
  overflow: hidden;
  padding: 1px;
  width: 124px;
  z-index: 9999;
  position:fixed;
  top:50px;
  right:0;
  text-align:center;
}
.side_content .title {
  background-color: #137fd3;
  color: white;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.side_content .off{
	position:absolute;
	top:0px;
	right:2px;
	display:inline;
}
.side_content ul li{
	float:left;
	font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 1px 1px;

  text-align: center;
  width: 60px;
}
.side_content ul li a {
  background-color: #e2f4ff;
  color: #333333;
  display: block;
  height: 30px;
  text-decoration: none;
  width: 60px;
}
.side_content .code p{
 
 font-size:14px;
}




